<%= form_for(@sponge) do |f| %>
  <% if @sponge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponge.errors.count, "error") %> prohibited this sponge from being saved:</h2>

      <ul>
      <% @sponge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
